# I. Tweet Data Cleaning

In [2]:
## Tweet Table

In [55]:
import pymongo
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import json
import time
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_rows', 5)

In [7]:
#function to cheack whether 
def check_var(data, x):
    try:
        data[x]
        return True
    except:
        return False

In [8]:
%%time

#making mongoDB database and collection
client = MongoClient('localhost', 27017)
db = client['mydatabase']

want_drop = input()
if(want_drop == 'yes'): ## if type yes, then it will drop tweet table from mongodb to prepare new importing.
    db.tweet.drop()
    
tweet = db['tweet']

no
Wall time: 1.19 s

In [6]:
#Import the necessary methods from tweepy library
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream

In [18]:
#yelin directory '/Users/yelin/Downloads/corona-out-3/corona-out-3'
#Mo 'C:/Users/maxmo/OneDrive/Desktop/Rutgers/Spring2020/Data Management/corona-out-2'
# Hui Wang  file = '/Users/huiwang/Downloads/corona-out-3'
file = '/Users/yelin/Downloads/corona-out-3/corona-out-3'

In [8]:
%%time

#id, user_id, created_at, text, retweet_count, favorite_count, reply_count, hashtags
import json
with open(file, 'r', encoding = 'utf8') as f1 :
    for line in f1 :
        try :
            data = json.loads(line)
        except :
            continue
        
        hashtag = [] #to collect list of hashtags
        
        if (data['lang'] == 'en'):
            
            #case 1: check whether it is a retweet data or not
            if (check_var(data, 'retweeted_status')) :

                Created_at = pd.to_datetime(data['retweeted_status']['created_at']).strftime('%B %d, %Y, %r')
                UserID = data['retweeted_status']['user']['id']
                ID = data['retweeted_status']['id']
                retweet_count = data['retweeted_status']['retweet_count']
                favorite_count = data['retweeted_status']['favorite_count']
                reply_count = data['retweeted_status']['reply_count']

                #check whether there is extension version of that tweet or not        
                if (check_var(data['retweeted_status'], 'extended_tweet')) :
                    Text = data['retweeted_status']['extended_tweet']['full_text']
                    for t in data['retweeted_status']['extended_tweet']['entities']['hashtags'] :
                        hashtag.append(t['text'])                
                else :
                    Text = data['retweeted_status']['text']
                    for t in data['retweeted_status']['entities']['hashtags'] :
                        hashtag.append(t['text'])

                #check whether it is retweet of quoted tweet or not
                if (check_var(data['retweeted_status'], 'quoted_status')) :

                    #check whether there is extension version of the original tweet or not 
                    if (check_var(data['retweeted_status']['quoted_status'], 'extended_tweet')) :
                        Text = Text + ' || ' + data['retweeted_status']['quoted_status']['extended_tweet']['full_text']
                        for t in data['retweeted_status']['quoted_status']['extended_tweet']['entities']['hashtags'] :
                            hashtag.append(t['text'])                
                    else :
                        Text = Text + ' || ' + data['retweeted_status']['quoted_status']['text']
                        for t in data['retweeted_status']['quoted_status']['entities']['hashtags'] :
                            hashtag.append(t['text'])               

            #case 2: check whether it is a quote tweet data or not
            elif (check_var(data, 'quoted_status')) :
                Created_at = pd.to_datetime(data['created_at']).strftime('%B %d, %Y, %r')
                UserID = data['user']['id']
                ID = data['id']
                retweet_count = data['retweet_count']
                favorite_count = data['favorite_count']
                reply_count = data['reply_count']

                #check whether there is extension version of that quote tweet or not 
                if(check_var(data, 'extended_tweet')) :
                    Text = data['extended_tweet']['full_text'] + ' || ' 
                else:
                    Text = data['text'] + ' || '

                for t in data['entities']['hashtags'] :
                    hashtag.append(t['text'])

                #check whether there is extension version of the originl tweet or not 
                if (check_var(data['quoted_status'], 'extended_tweet')) :
                    Text = Text + data['quoted_status']['extended_tweet']['full_text']
                    for t in data['quoted_status']['extended_tweet']['entities']['hashtags'] :
                        hashtag.append(t['text'])                
                else:
                    Text = Text + data['quoted_status']['text']
                    for t in data['quoted_status']['entities']['hashtags'] :
                        hashtag.append(t['text'])

            #if it does not belong to case 1 and case 2, it is an ordinary tweet data
            else :
                Created_at = pd.to_datetime(data['created_at']).strftime('%B %d, %Y, %r')
                UserID = data['user']['id']
                ID = data['id']
                retweet_count = data['retweet_count']
                favorite_count = data['favorite_count']
                reply_count = data['reply_count']

                #check whether there is extension version of that tweet or not  
                if(check_var(data, 'extended_tweet')) :
                    Text = data['extended_tweet']['full_text']
                else :
                    Text = data['text']

                for t in data['entities']['hashtags'] :
                    hashtag.append(t['text'])

            tw = {'id' : ID,
                  'user_id' : UserID,
                  'created_at' : Created_at,
                  'text' : Text,
                  'retweet_count' : retweet_count,
                  'favorite_count' : favorite_count,
                  'reply_count' : reply_count,
                  'hashtags': hashtag
                 }

            #if the data is already in our database, we update it 
            if (tweet.count_documents({'id' : tw['id']}) > 0) :
                db.tweet.update_one({'id' : tw['id']},
                                    {'$set' : {'retweet_count' : tw['retweet_count'],
                                               'favorite_count' : tw['favorite_count'],
                                               'reply_count' : tw['reply_count']}})
            #if it is not, we insert it    
            else :
                tweet.insert_one(tw)
            

tweet.create_index([ ('id', 1) ])

CPU times: user 1min 32s, sys: 5.04 s, total: 1min 37s
Wall time: 13min 38s

'id_1'

In [10]:
tweet_table = pd.DataFrame(tweet.find())
tweet_table.shape

(19076, 9)

In [11]:
tweet_table.head(5)

,_id,id,user_id,created_at,text,retweet_count,favorite_count,reply_count,hashtags
0,5ea48fd37fc2050f809927cb,1253949413191344128,207809313,"April 25, 2020, 07:30:12 AM",India’s war with Corona is ongoing.\n\nPlay yo...,398,2144,108,[FeedTheNeedy]
1,5ea48fd37fc2050f809927cc,1253992905703862272,858859031464751104,"April 25, 2020, 10:23:01 AM",VIDEO | 25.04.20\n\n&gt; Monsta X appears on Y...,59,144,1,"[몬스타엑스, MONSTAX, 판타지아엑스, FANTASIA_X]"
2,5ea48fd37fc2050f809927cd,1253697983343816706,2719753171,"April 24, 2020, 02:51:06 PM","Sri ByReddy Rajasekhar Reddy garu,a leader,who...",2238,7243,47,[]
3,5ea48fd37fc2050f809927ce,1254022773598572544,1091660129894838272,"April 25, 2020, 12:21:42 PM",@VinceMcMahon @TripleH We hereby honor to anno...,0,0,0,[]
4,5ea48fd37fc2050f809927cf,1254022776094105602,375777294,"April 25, 2020, 12:21:43 PM",im making 17 a hr doing nothing 😭😭😭😭 i love th...,0,0,0,[]





# II. User Data Cleaning

In [12]:
## User Table

In [13]:
import pandas as pd
import psycopg2
import json

In [14]:
##Creating the database
conn = psycopg2.connect("dbname=postgres port=5432 user=postgres password=password")
conn.set_session(autocommit = True)
cur = conn.cursor()

cur.execute("CREATE DATABASE twitter_users" )
conn.commit()
cur.close()
conn.close()

DuplicateDatabase: database "twitter_users" already exists

In [15]:
#Creating the table
conn = psycopg2.connect("dbname=twitter_users port=5432 user=postgres password=password")
cur = conn.cursor()

cur.execute("CREATE TABLE IF NOT EXISTS users_data( user_id bigint PRIMARY KEY, name varchar(255), user_name varchar(255), verified_status boolean,followers_count integer,friends_count integer,statuses_count integer,user_location varchar(500),favourites_count integer);" )
conn.commit()
cur.close()
conn.close()

In [16]:
def check_var(data,x):
    try:
        data[x]
        return True
    except:
        return False

In [19]:
%%time

#This function takes the the variable inputs and stores it into a PostgreSQL database
def store_data(user_id, name, user_name, verified_status, followers_count, friends_count, statuses_count, user_location, favourites_count):
    conn = psycopg2.connect("dbname=twitter_users port=5432 user=postgres password=password")
    cur = conn.cursor()
    insert_query = "INSERT INTO users_data (user_id, name, user_name, verified_status, followers_count, friends_count, statuses_count, user_location, favourites_count) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s) ON CONFLICT (user_id) DO UPDATE SET verified_status=EXCLUDED.verified_status, followers_count=EXCLUDED.followers_count, friends_count=EXCLUDED.friends_count, statuses_count=EXCLUDED.statuses_count, user_location=EXCLUDED.user_location, favourites_count=EXCLUDED.favourites_count"
    cur.execute(insert_query, (user_id, name, user_name, verified_status, followers_count, friends_count, statuses_count, user_location,favourites_count))
    conn.commit()
    cur.close()
    conn.close()
    
    
# Decoding the JSON file
with open(file, 'r', encoding = 'utf8') as f1:
    for line in f1:
        
        try:
            data = json.loads(line)
        except:
            continue
        
        if (data['lang'] == 'en'): # only 
            
            if (check_var(data, 'retweeted_status')):

                user_id = data['retweeted_status']['user']['id']
                name = data['retweeted_status']['user']['name']
                user_name = data['retweeted_status']['user']['screen_name']
                verified_status = data['retweeted_status']['user']['verified']
                followers_count = data['retweeted_status']['user']['followers_count']
                friends_count = data['retweeted_status']['user']['friends_count']
                statuses_count = data['retweeted_status']['user']['statuses_count']
                user_location = data['retweeted_status']['user']['location']
                favourites_count= data['retweeted_status']['user']['favourites_count']


            else :
                user_id = data['user']['id']
                name = data['user']['name']
                user_name = data['user']['screen_name']
                verified_status = data['user']['verified']
                followers_count = data['user']['followers_count']
                friends_count = data['user']['friends_count']
                statuses_count = data['user']['statuses_count']
                user_location = data['user']['location']
                favourites_count= data['user']['favourites_count']


            #insert the data into the PostgreSQL database
            store_data(user_id, name, user_name, verified_status, followers_count, friends_count, statuses_count, user_location, favourites_count)

Wall time: 1h 12min 44s

In [20]:
conn = psycopg2.connect("dbname=twitter_users port=5432 user=postgres password=password")
cur = conn.cursor()


# A function that takes in a PostgreSQL query and outputs a pandas database 
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

In [57]:
user_table = create_pandas_table("SELECT * FROM users_data")
user_table

,user_id,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
0,375777294,TeéLaneeë🌺,TWD40_,False,637,408,18976,None,1325
1,1132273796138905600,Terri Kamp,RampTheresa,False,1522,256,20861,None,29166
...,...,...,...,...,...,...,...,...,...
15671,734263483173212160,dirty d 😽💙,deannarae21,False,684,482,43705,baerobbie 💙,75847
15672,2279976427,Venugopi,Venu7630,False,3,35,42,None,83





# III. Searching Application

Implement 1

In [58]:
%%time

# using MongoDB
# most popular original tweet ranked by the retweet_count
pop_retweet = pd.DataFrame(tweet.find().sort("retweet_count", -1))
pop_retweet

Wall time: 709 ms

,_id,id,user_id,created_at,text,retweet_count,favorite_count,reply_count,hashtags
0,5ea490707fc2050f8099493f,1238264431320215553,1100261477989126145,"March 13, 2020, 12:43:40 AM",*corona virus enters my body*\n\nThe 4 Flintstone gummies I ate in 2005: https://t.co/3STfdIQtaT,237307,811062,1811,[]
1,5ea4903d7fc2050f8099428e,1240334979701395458,1112592502727548928,"March 18, 2020, 05:51:18 PM",When this Corona shit passes we have to promise each other that we’re going to tell our kids that we survived a zombie apocalypse in 2020,181584,764405,1595,[]
...,...,...,...,...,...,...,...,...,...
19074,5ea492b57fc2050f8099724d,1254059747738816512,3130596629,"April 25, 2020, 02:48:37 PM",We have 1/4 of all deaths from #Corona - thanks to our 3rd world response by @realDonaldTrump #ashamed \n@Arpx #arleg https://t.co/ELyI69q8pp,0,0,0,"[Corona, ashamed]"
19075,5ea492b57fc2050f8099724e,1254059751379361793,2279976427,"April 25, 2020, 02:48:38 PM",@VSReddy_MP I think wantedly you ate damaging your leaders image @ysjagan One side there is an increase of Corona cases and also @srikakulamdistrict now attacked with corona on the other side you are giving these tweets How to understand it @ArogyaAndhra @AndhraPradeshCM @apfightscorona,0,0,0,[]

In [59]:
# most popular original tweet ranked by the retweet_count, reply_count, and favorite_count 
pop_hottest = pd.DataFrame(tweet.find().sort([("retweet_count", -1),("reply_count", -1),("favorite_count", -1)]))
pop_hottest

,_id,id,user_id,created_at,text,retweet_count,favorite_count,reply_count,hashtags
0,5ea490707fc2050f8099493f,1238264431320215553,1100261477989126145,"March 13, 2020, 12:43:40 AM",*corona virus enters my body*\n\nThe 4 Flintstone gummies I ate in 2005: https://t.co/3STfdIQtaT,237307,811062,1811,[]
1,5ea4903d7fc2050f8099428e,1240334979701395458,1112592502727548928,"March 18, 2020, 05:51:18 PM",When this Corona shit passes we have to promise each other that we’re going to tell our kids that we survived a zombie apocalypse in 2020,181584,764405,1595,[]
...,...,...,...,...,...,...,...,...,...
19074,5ea492b57fc2050f8099724d,1254059747738816512,3130596629,"April 25, 2020, 02:48:37 PM",We have 1/4 of all deaths from #Corona - thanks to our 3rd world response by @realDonaldTrump #ashamed \n@Arpx #arleg https://t.co/ELyI69q8pp,0,0,0,"[Corona, ashamed]"
19075,5ea492b57fc2050f8099724e,1254059751379361793,2279976427,"April 25, 2020, 02:48:38 PM",@VSReddy_MP I think wantedly you ate damaging your leaders image @ysjagan One side there is an increase of Corona cases and also @srikakulamdistrict now attacked with corona on the other side you are giving these tweets How to understand it @ArogyaAndhra @AndhraPradeshCM @apfightscorona,0,0,0,[]

In [60]:
# TOP 15 most popular hashtag ranked by aggregating the lists of hashtags (case insensitive)
from bson.son import SON
pipeline = [
     {"$unwind": "$hashtags"},
     {"$group": {"_id": {"$toLower": "$hashtags"}, "count": {"$sum": 1}}},
     {"$sort": SON([("count", -1), ("_id", -1)])}
] 


import pprint
pprint.pprint(list(db.tweet.aggregate(pipeline))[0:15])

[{'_id': 'corona', 'count': 1248},
 {'_id': 'covid19', 'count': 542},
 {'_id': 'coronavirus', 'count': 384},
 {'_id': 'covid_19', 'count': 292},
 {'_id': 'lockdown', 'count': 166},
 {'_id': 'covid', 'count': 129},
 {'_id': 'indiafightscorona', 'count': 119},
 {'_id': 'संतरामपालजी_का_सत्संग_सुनें', 'count': 114},
 {'_id': 'stayhome', 'count': 102},
 {'_id': 'covidー19', 'count': 72},
 {'_id': 'chinavirus', 'count': 65},
 {'_id': 'chinesevirus', 'count': 59},
 {'_id': 'level4lockdown', 'count': 57},
 {'_id': 'fightcoronanotactivists', 'count': 56},
 {'_id': 'staysafe', 'count': 53}]

Implement 2

In [26]:
# using SQL
# the most active verified user ranked by statuses_count
active_user = create_pandas_table("SELECT * FROM users_data WHERE verified_status = 'True' ORDER BY statuses_count DESC")
active_user.head(5)

,user_id,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
0,47596019,Liputan6.com,liputan6dotcom,True,3687560,693,1381273,Jakarta Indonesia,7062
1,16973333,The Independent,Independent,True,3202840,1146,976895,"London, England",3
2,378809160,𝔾𝕀𝔻𝕀𝕋ℝ𝔸𝔽𝔽𝕀ℂ,Gidi_Traffic,True,1676895,5826,922265,Everywhere,14478
3,2475273985,Paytm Care,Paytmcare,True,248675,15,861933,India,402
4,15448383,Inquirer,inquirerdotnet,True,3076056,1852,858348,Makati City,34260

In [27]:
# the most popular verified user ranked by followers_count
pop_user = create_pandas_table("SELECT * FROM users_data WHERE verified_status = 'True' ORDER BY followers_count DESC")
pop_user.head(5)

,user_id,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
0,18839785,Narendra Modi,narendramodi,True,55786179,2364,26559,India,0
1,807095,The New York Times,nytimes,True,46361159,904,393823,New York City,18483
2,145125358,Amitabh Bachchan,SrBachchan,True,41596464,1833,66428,"Mumbai, India",75
3,101311381,Shah Rukh Khan,iamsrk,True,40026738,77,58040,None,32
4,471741741,PMO India,PMOIndia,True,34461808,486,25996,India,0

In [28]:
# the most active location ranked by tweets count
pop_location = create_pandas_table("SELECT user_location, count(*) as amount FROM users_data WHERE user_location != 'None' GROUP BY user_location ORDER BY amount DESC")
pop_location.head(5)

      user_location  amount
0             India     363
1  New Delhi, India     185
2     United States     125
3     Mumbai, India     121
4    Lagos, Nigeria     112





Join the tweet table and user table

In [61]:
%%time

# using Pandas
full_table = pd.merge(tweet_table, user_table, how = 'left', on = ['user_id'])
full_table.shape
full_table.head(5)

Wall time: 56.8 ms

,_id,id,user_id,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
0,5ea48fd37fc2050f809927cb,1253949413191344128,207809313,"April 25, 2020, 07:30:12 AM",India’s war with Corona is ongoing.\n\nPlay your part and make sure no one around you starves.\n\nYour contribution to defeat hunger is as valuable as defeating Corona.\n\n#FeedTheNeedy https://t.co/TUWf2nqPgZ,398,2144,108,[FeedTheNeedy],BJP,BJP4India,True,13483759,3,200328,"6-A, Deen Dayal Upadhyay Marg,",0
1,5ea48fd37fc2050f809927cc,1253992905703862272,858859031464751104,"April 25, 2020, 10:23:01 AM",VIDEO | 25.04.20\n\n&gt; Monsta X appears on Yonhap News TV - Idol comeback through Corona... Turning on the Music industry.\n\n🔗https://t.co/kW5hsP5DeD\n\n#몬스타엑스 #MONSTAX\n#판타지아엑스 #FANTASIA_X\n@OfficialMonstaX\n\nhttps://t.co/tJN4Iyv1Gh https://t.co/GukJXWjaPW,59,144,1,"[몬스타엑스, MONSTAX, 판타지아엑스, FANTASIA_X]",Monsta X Europe,MonstaXEurope,False,27084,463,38058,let the haters bark,32020
2,5ea48fd37fc2050f809927cd,1253697983343816706,2719753171,"April 24, 2020, 02:51:06 PM","Sri ByReddy Rajasekhar Reddy garu,a leader,who is truly dedicated to the betterment of Rayalaseema region (now joined in BJP)expressed his concerns to me ,through a letter,about the district &amp; State administration’s failure in controlling Corona Pandemic.",2238,7243,47,[],Pawan Kalyan,PawanKalyan,True,3958111,161,1410,None,2
3,5ea48fd37fc2050f809927ce,1254022773598572544,1091660129894838272,"April 25, 2020, 12:21:42 PM",@VinceMcMahon @TripleH We hereby honor to announce that we have developed a brand new treatment method using UV rays / Laser Ray that might be used effectively for preventing all mankind from infectious virus.\n\n#covid #covid19 #Covid_19 #corona #vascular #endovascular https://t.co/YkVlYtJiGL,0,0,0,[],Milli teknoloji,milliteknoloj,False,2296,6709,402,None,352
4,5ea48fd37fc2050f809927cf,1254022776094105602,375777294,"April 25, 2020, 12:21:43 PM",im making 17 a hr doing nothing 😭😭😭😭 i love this corona pay,0,0,0,[],TeéLaneeë🌺,TWD40_,False,637,408,18976,None,1325

Implement 3

In [82]:
%%time

# using Pandas
# search the tweets that contain the keyword 'election'
election = full_table[full_table['text'].str.contains('election',case=False)].drop(['_id','id','user_id'], axis=1)

# rank the tweets that contain the keyword 'election' by favorite_count, retweet_count and reply_count
election.sort_values(by = ['favorite_count', 'retweet_count', 'reply_count'], ascending = (False, False, False))

Wall time: 122 ms

,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
4985,"April 06, 2020, 11:31:23 AM","The Democrats’ all-mail ballots proposal is a ruse to legalize ballot harvesting. \n\nAnyone would be allowed to return an unlimited number of absentee ballots for voters. \n\nAt a time of so much uncertainty, we should not reduce confidence in our elections. https://t.co/hTn0MTx48m",5430,11868,1806,[],Ronna McDaniel,GOPChairwoman,True,602330,2594,14158,None,7107
4235,"April 25, 2020, 12:51:03 PM",Milwaukee’s health commissioner has now tied 40 coronavirus infections to the April 7 election. \n\nhttps://t.co/fGIsLKzTkm,1046,1204,76,[],Ben Wikler,benwikler,True,132408,3960,31530,"Wisconsin, USA",58028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18955,"April 25, 2020, 02:47:46 PM",Every single person who was involved with this travesty should be behind bars in a covid-infested prison. || Milwaukee’s health commissioner has now tied 40 coronavirus infections to the April 7 election. \n\nhttps://t.co/fGIsLKzTkm,0,0,0,[],EmmaSofia,emmasofia3,False,162,536,16842,Gaia,4432
19071,"April 25, 2020, 02:48:36 PM","40 Coronavirus Cases In Milwaukee County Linked To WI Election, yet ⁦@GovParsonMO⁩ says that voting by mail is “partisan”. The MO GOP knows their egregious agenda makes them vulnerable, so they will have us risk our health to vote them out. #MOLeg https://t.co/xpMgXHnfuy",0,0,0,[],Jess Piper,EnglishTeach07,False,5026,5369,22781,Northwest MO,94498

In [83]:
%%time
## user interactive search for text (case insensitive)
search_keyword = input()
user_search = full_table[full_table['text'].str.contains(search_keyword,case=False)].drop(['_id','id','user_id'], axis=1)
user_search.sort_values(by = ['favorite_count', 'retweet_count', 'reply_count'], ascending = (False, False, False))

hurt
Wall time: 4.81 s

,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
7078,"April 03, 2020, 06:43:57 PM","Thanks @GayleKing @CBSThisMorning my story! \n\nRETWEET! WHY DONT WE HAVE MASS free #Corona TESTING?! USA &amp; S.Korea got #Corona Same day!! S Korea = 10,000 cases, USA= 240,000 cases!!\n\n*THEY Did Not Shutdown their Society or hurt their Economy!! Full Video: https://t.co/75h1XZX1EZ https://t.co/yAoaj5Wkji",782,1674,160,"[Corona, Corona]",Daniel Newmaη,DanielNewman,True,942847,636969,34833,iTunes / Spotify / FACEBOOK,98630
7276,"April 25, 2020, 03:58:35 AM","#IKnewIWasHurtWhen in 2019 I was depressed, staying with an equally depressed person, toxic is what it was, lost weight, business failing, had to move back home, 2020 is way better than 2019, Corona or not, I'm grateful👏🏾",138,990,38,[IKnewIWasHurtWhen],Lessy Lesego👑,LessyJantjie,False,45234,31595,72905,South Africa,90775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18296,"April 25, 2020, 02:42:20 PM",But uhh fr this shit HURTS i was meant to get them out like 3 weeks ago but couldn't bc of corona im just worried theyre gonna fuck my braces work up,0,0,0,[],IU's wife,sailor_soshii,False,34,106,808,None,1683
18735,"April 25, 2020, 02:45:51 PM",Is Corona Don't Hurts Some People? Why ? | Sree Seva Foundation https://t.co/qpfBDv8Yu7 via @YouTube,0,0,0,[],Kokila Manjulasree,Kokila_Manjula,False,7,21,239,"Khairatabad, Hyderabad",0

Implement 4

In [87]:
%%time
# using Pandas
# search for a hashtag 'lockdown' (case insensitive)
target = ['lockdown']
lockdown = full_table[pd.DataFrame(full_table.hashtags.tolist()).applymap(lambda s:s.lower() if type(s) == str else s).isin(target).any(1)].drop(['_id','id','user_id'], axis=1)

# rank the tweets that contain the hashtag 'lockdown' by followers_count
lockdown.sort_values(by = ['followers_count'], ascending = (False))

Wall time: 278 ms

,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
285,"April 21, 2020, 01:28:03 PM","My wholehearted thanks&amp; heartfelt felt acknowledgment 🙏to Amudalavalasa JSP Leader Sri Pedada Rammohan garu , for distributing essentials to people who are in need. || ఆముదాలవలస నియోజకవర్గంలో లాక్ డౌన్ వేళ నిరుపేదలకు ఆహారం పంపిణీ, కరోనా పట్ల అవగాహన కార్యక్రమాలు నిర్వహిస్తున్న శ్రీ పెడాడ రామ్మోహన్ గారు.\n\n#Corona #Lockdown #JanaSeva https://t.co/1IgUA9XPBu",2020,7103,41,"[Corona, Lockdown, JanaSeva]",Pawan Kalyan,PawanKalyan,True,3958111,161,1410,None,2
2210,"April 25, 2020, 06:17:11 AM",Scenarios at Koyambedu market !! Social distancing at its best 😐\n\n#lockdown #CoronaUpdates #corona https://t.co/HyPC8JZwx8,16,80,10,"[lockdown, CoronaUpdates, corona]",IndiaGlitz - Tamil,igtamil,True,951444,666,68534,"Chennai, India",11776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18963,"April 25, 2020, 02:47:49 PM","Nice efforts guys..keep up the gud work✌\n#EIAForGreenIndia #covid\n#lockdown\n#Corona || This is a mechanism to legitimise some actions currently listed as violations,like projects starting construction without a valid clearance, dilutes rules by expanding the list of projects exempted from public consultation, it does not prescribe a robust system.\n#EIAForGreenIndia https://t.co/DmaY23TTvO",0,0,0,"[EIAForGreenIndia, covid, lockdown, Corona, EIAForGreenIndia]",Aarti,Aarti03524188,False,0,12,24,None,17
14087,"April 25, 2020, 11:30:20 AM","How can Police officials can be so brutal, they hit a small child(wearing blue check shirt) and his hand started bleeding so much.\nThis is not acceptable #DelhiPolice \n#delhi #PoliceBrutality #childabuse #corona #lockdown https://t.co/vP9cuYR8uW",1,0,0,"[DelhiPolice, delhi, PoliceBrutality, childabuse, corona, lockdown]",Abbas Kazimi,AbbasKazimi7,False,0,46,23,"नई दिल्ली, भारत",80

In [89]:
%%time
## user interactive search for hashtag (case insensitive)

search_keyword = input()

target = [search_keyword]
lockdown = full_table[pd.DataFrame(full_table.hashtags.tolist()).applymap(lambda s:s.lower() if type(s) == str else s).isin(target).any(1)].drop(['_id','id','user_id'], axis=1)
lockdown.sort_values(by = ['followers_count'], ascending = (False))

quarantine
Wall time: 1.25 s

,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
351,"April 25, 2020, 11:39:51 AM",Chalo use this sound and tag me #sanitizer #corona #lockdown #SocialDistancing #quarantine https://t.co/2Hiir1U2VC,12,171,11,"[sanitizer, corona, lockdown, SocialDistancing, quarantine]",Shefali Bagga,shefali_bagga,False,87572,10,7243,"Delhi, India",3624
5369,"April 25, 2020, 12:59:43 PM","My dear friend and bandmate Giulio is doing an unplugged livestream of originals and covers tonight at 6pm UK Time/7pm CET over on his other band’s (@Drones72band) Facebook page.\n\nIt’ll be excellent, and it’s his 1st post-Corona performance, so please tune in if you can. || Voice and breathe are back. So I’ll do home unplugged tonight. Streaming live at 7pm CET from band’s page:\nhttps://t.co/9BkH6Jqe7z #homeconcert #live #quarantine #aloneathome #QuarantineLife #isolation #lockdown #unplugged #acoustic #livestream #Covid_19 #StayHome #StaySafe https://t.co/1bHyqDwTar",2,8,1,"[homeconcert, live, quarantine, aloneathome, QuarantineLife, isolation, lockdown, unplugged, acoustic, livestream, Covid_19, StayHome, StaySafe]",Steve Bullock,GuitarMoog,False,62263,8273,75366,"Brussels, Belgium",123095
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16189,"April 25, 2020, 02:26:25 PM",This seems #sensible\n#sarcasm #sarcasticmemes #economy #indian #corona #quarantine #funny https://t.co/XizLOsMMTG,0,0,0,"[sensible, sarcasm, sarcasticmemes, economy, indian, corona, quarantine, funny]",volatile_memers,MemersVolatile,False,1,1,11,None,2
1327,"April 25, 2020, 12:29:23 PM",Quarantine Life!☀️🍑💧 #COVID2019 #level4lockdown #Covid_19 #day30oflockdown #Corona #Quarantine #coronavirus #Twitter #follow https://t.co/EJNsUMB9bK,0,0,0,"[COVID2019, level4lockdown, Covid_19, day30oflockdown, Corona, Quarantine, coronavirus]",Sonia,TweetsSonya,False,0,0,6,"Los Angeles, CA",0

Implement 5

In [ ]:
# Time
# We got the tweet data and corresponding user data in one time slot, but we save the data based on the original tweet
# try to search the earliest created original tweet that is still getting retweeted in the time slot.

In [90]:
%%time
full_table['created_at'] = pd.to_datetime(full_table['created_at'])
full_table.sort_values(by = ['created_at'], ascending = (True))

,_id,id,user_id,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
14241,5ea4917b7fc2050f80995f6c,341578219176214528,1242575784,2013-06-03 15:32:48,Corona virus....its coming,73776,131225,9968,[],Marco,Marco_Acortes,False,5652,106,3839,None,4842
6794,5ea4903b7fc2050f80994255,872849401928179713,189011442,2017-06-08 16:14:48,"But to return to a moment of grace.\n\n""Take me to the Seine, let us gaze into it until we become little fishes &amp; recognize each other again."" https://t.co/WfLNI92buL || ""I have often reflected that 'Corona' is your most beautiful poem""\nIB, 6 June 1949\n\nI think so, too-with Celan echoing Rilke, 'es ist Zeit.' https://t.co/CS41BlJ4jw",16,39,0,[],coldplums,coldplums,False,4341,1435,24661,on the road,41167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19073,5ea492b47fc2050f8099724c,1254059746652389378,734263483173212160,2020-04-25 14:48:37,i will be makin tacos and gettin drunk on cinco de mayo by myself if i have to fuck a bitch named corona,0,0,0,[],dirty d 😽💙,deannarae21,False,684,482,43705,baerobbie 💙,75847
19075,5ea492b57fc2050f8099724e,1254059751379361793,2279976427,2020-04-25 14:48:38,@VSReddy_MP I think wantedly you ate damaging your leaders image @ysjagan One side there is an increase of Corona cases and also @srikakulamdistrict now attacked with corona on the other side you are giving these tweets How to understand it @ArogyaAndhra @AndhraPradeshCM @apfightscorona,0,0,0,[],Venugopi,Venu7630,False,3,35,42,None,83