# I. Tweet Data Cleaning

In [1]:
## Tweet Table

In [2]:
import pymongo
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import json
import time
import re
import datetime
pd.set_option('display.max_rows', 5)
pd.set_option('display.max_colwidth', -1)

In [3]:
# function to cheack whether an object (data) contains attribute (x) or not
def check_var(data, x):
    try:
        data[x]
        return True
    except:
        return False

In [4]:
%%time
# making mongoDB database and collection
client = MongoClient('localhost', 27017)
db = client['mydatabase']

want_drop = input("Do you want to drop collection (yes/no): ")
if(want_drop == 'yes'): ## if type yes, then it will drop tweet table from mongodb to prepare new importing.
    db.tweet.drop()
    
tweet = db['tweet']

Do you want to drop collection (yes/no): no
CPU times: user 5.3 ms, sys: 3.65 ms, total: 8.95 ms
Wall time: 2.61 s

In [5]:
#Import the necessary methods from tweepy library
from tweepy.streaming import StreamListener
from tweepy import OAuthHandler
from tweepy import Stream

In [6]:
# yelin directory '/Users/yelin/Downloads/corona-out-3/corona-out-3'
# Kanya 'C:/Users/maxmo/OneDrive/Desktop/Rutgers/Spring2020/Data Management/corona-out-3'
# Hui Wang  file = '/Users/huiwang/Downloads/corona-out-3'
file = '/Users/huiwang/Downloads/corona-out-3'

In [7]:
%%time
# id, user_id, created_at, text, retweet_count, favorite_count, reply_count, hashtags
import json
with open(file, 'r', encoding = 'utf8') as f1 :
    for line in f1 :
        try :
            data = json.loads(line)
        except :
            continue
        
        hashtag = [] #to collect list of hashtags
        
        if (data['lang'] == 'en') :
            
            # case 1: check whether it is a retweet data or not
            if (check_var(data, 'retweeted_status')) :

                Created_at = pd.to_datetime(data['retweeted_status']['created_at'])
                UserID = data['retweeted_status']['user']['id']
                ID = data['retweeted_status']['id']
                retweet_count = data['retweeted_status']['retweet_count']
                favorite_count = data['retweeted_status']['favorite_count']
                reply_count = data['retweeted_status']['reply_count']

                # check whether there is extension version of that tweet or not        
                if (check_var(data['retweeted_status'], 'extended_tweet')) :
                    Text = data['retweeted_status']['extended_tweet']['full_text']
                    for t in data['retweeted_status']['extended_tweet']['entities']['hashtags'] :
                        hashtag.append(t['text'])                
                else :
                    Text = data['retweeted_status']['text']
                    for t in data['retweeted_status']['entities']['hashtags'] :
                        hashtag.append(t['text'])

                # check whether it is retweet of quoted tweet or not
                if (check_var(data['retweeted_status'], 'quoted_status')) :

                    #check whether there is extension version of the original tweet or not 
                    if (check_var(data['retweeted_status']['quoted_status'], 'extended_tweet')) :
                        Text = Text + ' || ' + data['retweeted_status']['quoted_status']['extended_tweet']['full_text']
                        for t in data['retweeted_status']['quoted_status']['extended_tweet']['entities']['hashtags'] :
                            hashtag.append(t['text'])                
                    else :
                        Text = Text + ' || ' + data['retweeted_status']['quoted_status']['text']
                        for t in data['retweeted_status']['quoted_status']['entities']['hashtags'] :
                            hashtag.append(t['text'])               
 
            # case 2: check whether it is a quote tweet data or not
            elif (check_var(data, 'quoted_status')) :
                Created_at = pd.to_datetime(data['created_at'])
                UserID = data['user']['id']
                ID = data['id']
                retweet_count = data['retweet_count']
                favorite_count = data['favorite_count']
                reply_count = data['reply_count']

                # check whether there is extension version of that quote tweet or not 
                if(check_var(data, 'extended_tweet')) :
                    Text = data['extended_tweet']['full_text'] + ' || ' 
                else:
                    Text = data['text'] + ' || '

                for t in data['entities']['hashtags'] :
                    hashtag.append(t['text'])

                # check whether there is extension version of the originl tweet or not 
                if (check_var(data['quoted_status'], 'extended_tweet')) :
                    Text = Text + data['quoted_status']['extended_tweet']['full_text']
                    for t in data['quoted_status']['extended_tweet']['entities']['hashtags'] :
                        hashtag.append(t['text'])                
                else:
                    Text = Text + data['quoted_status']['text']
                    for t in data['quoted_status']['entities']['hashtags'] :
                        hashtag.append(t['text'])

            # if it does not belong to case 1 and case 2, it is an ordinary tweet data
            else :
                Created_at = pd.to_datetime(data['created_at'])
                UserID = data['user']['id']
                ID = data['id']
                retweet_count = data['retweet_count']
                favorite_count = data['favorite_count']
                reply_count = data['reply_count']

                # check whether there is extension version of that tweet or not  
                if (check_var(data, 'extended_tweet')) :
                    Text = data['extended_tweet']['full_text']
                else :
                    Text = data['text']

                for t in data['entities']['hashtags'] :
                    hashtag.append(t['text'])

            tw = {'id' : ID,
                  'user_id' : UserID,
                  'created_at' : Created_at,
                  'text' : Text,
                  'retweet_count' : retweet_count,
                  'favorite_count' : favorite_count,
                  'reply_count' : reply_count,
                  'hashtags': hashtag
                 }

            # if the data is already in our database, we update it 
            if (tweet.count_documents({'id' : tw['id']}) > 0) :
                db.tweet.update_one({'id' : tw['id']},
                                    {'$set' : {'retweet_count' : tw['retweet_count'],
                                               'favorite_count' : tw['favorite_count'],
                                               'reply_count' : tw['reply_count']}})
            # if it is not, we insert it    
            else :
                tweet.insert_one(tw)

CPU times: user 1min 37s, sys: 5.99 s, total: 1min 43s
Wall time: 29min 47s

'id_1'

In [7]:
# create indexes for tweet id, text, hashtags and created_at
tweet.create_index([ ('id', 1) ])
tweet.create_index([ ('text', 1) ])
tweet.create_index([ ('hashtags', 1) ])
tweet.create_index([ ('created_at', 1) ])

'created_at_1'

In [8]:
tweet_table = pd.DataFrame(tweet.find())
tweet_table

,_id,id,user_id,created_at,text,retweet_count,favorite_count,reply_count,hashtags
0,5ea8cd2e82a63f13f9690b8a,1253949413191344128,207809313,2020-04-25 07:30:12,India‚Äôs war with Corona is ongoing.\n\nPlay your part and make sure no one around you starves.\n\nYour contribution to defeat hunger is as valuable as defeating Corona.\n\n#FeedTheNeedy https://t.co/TUWf2nqPgZ,398,2144,108,[FeedTheNeedy]
1,5ea8cd2e82a63f13f9690b8b,1253992905703862272,858859031464751104,2020-04-25 10:23:01,VIDEO | 25.04.20\n\n&gt; Monsta X appears on Yonhap News TV - Idol comeback through Corona... Turning on the Music industry.\n\nüîóhttps://t.co/kW5hsP5DeD\n\n#Î™¨Ïä§ÌÉÄÏóëÏä§ #MONSTAX\n#ÌåêÌÉÄÏßÄÏïÑÏóëÏä§ #FANTASIA_X\n@OfficialMonstaX\n\nhttps://t.co/tJN4Iyv1Gh https://t.co/GukJXWjaPW,59,144,1,"[Î™¨Ïä§ÌÉÄÏóëÏä§, MONSTAX, ÌåêÌÉÄÏßÄÏïÑÏóëÏä§, FANTASIA_X]"
...,...,...,...,...,...,...,...,...,...
19074,5ea8d42982a63f13f969560c,1254059747738816512,3130596629,2020-04-25 14:48:37,We have 1/4 of all deaths from #Corona - thanks to our 3rd world response by @realDonaldTrump #ashamed \n@Arpx #arleg https://t.co/ELyI69q8pp,0,0,0,"[Corona, ashamed]"
19075,5ea8d42982a63f13f969560d,1254059751379361793,2279976427,2020-04-25 14:48:38,@VSReddy_MP I think wantedly you ate damaging your leaders image @ysjagan One side there is an increase of Corona cases and also @srikakulamdistrict now attacked with corona on the other side you are giving these tweets How to understand it @ArogyaAndhra @AndhraPradeshCM @apfightscorona,0,0,0,[]





# II. User Data Cleaning

In [9]:
## User Table

In [66]:
import pandas as pd
import psycopg2
import json

In [67]:
## Creating the database
conn = psycopg2.connect("dbname=postgres port=5432 user=postgres password=password")
conn.set_session(autocommit = True)
cur = conn.cursor()

cur.execute("CREATE DATABASE twitter_users" )
conn.commit()
cur.close()
conn.close()

DuplicateDatabase: database "twitter_users" already exists

In [68]:
# Creating the table
conn = psycopg2.connect("dbname=twitter_users port=5432 user=postgres password=password")
cur = conn.cursor()
#cur.execute("drop table users_data")
cur.execute("CREATE TABLE IF NOT EXISTS users_data( user_id bigint PRIMARY KEY, name varchar(255), user_name varchar(255), verified_status boolean,followers_count integer,friends_count integer,statuses_count integer,user_location varchar(500),favourites_count integer);" )
conn.commit()
cur.close()
conn.close()

In [69]:
def check_var(data,x):
    try:
        data[x]
        return True
    except:
        return False

In [36]:
%%time
# This function takes the the variable inputs and stores it into a PostgreSQL database
def store_data(user_id, name, user_name, verified_status, followers_count, friends_count, statuses_count, user_location, favourites_count):
    conn = psycopg2.connect("dbname=twitter_users port=5432 user=postgres password=password")
    cur = conn.cursor()
    insert_query = "INSERT INTO users_data (user_id, name, user_name, verified_status, followers_count, friends_count, statuses_count, user_location, favourites_count) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s) ON CONFLICT (user_id) DO UPDATE SET name=EXCLUDED.name, user_name=EXCLUDED.user_name, verified_status=EXCLUDED.verified_status, followers_count=EXCLUDED.followers_count, friends_count=EXCLUDED.friends_count, statuses_count=EXCLUDED.statuses_count, user_location=EXCLUDED.user_location, favourites_count=EXCLUDED.favourites_count"
    cur.execute(insert_query, (user_id, name, user_name, verified_status, followers_count, friends_count, statuses_count, user_location,favourites_count))
    conn.commit()
    cur.close()
    conn.close()
    
    
# Decoding the JSON file
with open(file, 'r', encoding = 'utf8') as f1:
    for line in f1:
        
        try:
            data = json.loads(line)
        except:
            continue
        
        if (data['lang'] == 'en'): # only 
            
            if (check_var(data, 'retweeted_status')):

                user_id = data['retweeted_status']['user']['id']
                name = data['retweeted_status']['user']['name']
                user_name = data['retweeted_status']['user']['screen_name']
                verified_status = data['retweeted_status']['user']['verified']
                followers_count = data['retweeted_status']['user']['followers_count']
                friends_count = data['retweeted_status']['user']['friends_count']
                statuses_count = data['retweeted_status']['user']['statuses_count']
                user_location = data['retweeted_status']['user']['location']
                favourites_count= data['retweeted_status']['user']['favourites_count']


            else :
                user_id = data['user']['id']
                name = data['user']['name']
                user_name = data['user']['screen_name']
                verified_status = data['user']['verified']
                followers_count = data['user']['followers_count']
                friends_count = data['user']['friends_count']
                statuses_count = data['user']['statuses_count']
                user_location = data['user']['location']
                favourites_count= data['user']['favourites_count']


            # insert the data into the PostgreSQL database
            store_data(user_id, name, user_name, verified_status, followers_count, friends_count, statuses_count, user_location, favourites_count)

CPU times: user 45.7 s, sys: 17 s, total: 1min 2s
Wall time: 12min 27s

In [70]:
conn = psycopg2.connect("dbname=twitter_users port=5432 user=postgres password=password")
cur = conn.cursor()


# A function that takes in a PostgreSQL query and outputs a pandas database 
def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

In [71]:
user_table = create_pandas_table("SELECT * FROM users_data")
user_table

,user_id,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
0,952226761797984257,the man,theman55254601,False,0,23,26,None,0
1,2246077632,Chantelle Fabian,tellfabian,False,205,958,350,Quebec,167
...,...,...,...,...,...,...,...,...,...
15671,993454242,team_bilawal,NEWS_BILAWAL,False,14613,2617,76376,Karchi sindh,28015
15672,2279976427,Venugopi,Venu7630,False,3,35,42,None,83





# III. Searching Application

Implement 1. Top 3 Popular Original Tweet

In [40]:
%%time
# using MongoDB
# Top 3 popular original tweet ranked by the retweet_count, reply_count, and favorite_count 
pop_tweet = pd.DataFrame(tweet.find({}, {'user_id': 1, 'created_at': 1, 'text': 1, 'retweet_count': 1, 'favorite_count': 1, 'reply_count': 1, 'hashtags': 1}).sort([("retweet_count", -1), ("reply_count", -1), ("favorite_count", -1)]).limit(10))
pop_tweet.head(3)

CPU times: user 3.55 ms, sys: 2.14 ms, total: 5.69 ms
Wall time: 87.7 ms

,_id,user_id,created_at,text,retweet_count,favorite_count,reply_count,hashtags
0,5ea8cf6a82a63f13f9692cfe,1100261477989126145,2020-03-13 00:43:40,*corona virus enters my body*\n\nThe 4 Flintstone gummies I ate in 2005: https://t.co/3STfdIQtaT,237307,811062,1811,[]
1,5ea8ced182a63f13f969264d,1112592502727548928,2020-03-18 17:51:18,When this Corona shit passes we have to promise each other that we‚Äôre going to tell our kids that we survived a zombie apocalypse in 2020,181584,764405,1595,[]
2,5ea8cde182a63f13f9691acb,1131227186,2020-03-10 17:52:14,THIS MAN IS A GENIUS he figured out the Corona virus problem üòÆ https://t.co/EZP7IqTtxV,179037,515867,1578,[]

Implement 2. Top 10 Popular Hashtag

In [41]:
# using MongoDB
# TOP 10 popular hashtag ranked by aggregating the lists of hashtags (case insensitive)
from bson.son import SON
pipeline = [
     {"$unwind": "$hashtags"},
     {"$group": {"_id": {"$toLower": "$hashtags"}, "count": {"$sum": 1}}},
     {"$sort": SON([("count", -1), ("_id", -1)])}
] 

import pprint
pprint.pprint(list(db.tweet.aggregate(pipeline))[0:10])

[{'_id': 'corona', 'count': 1248},
 {'_id': 'covid19', 'count': 542},
 {'_id': 'coronavirus', 'count': 384},
 {'_id': 'covid_19', 'count': 292},
 {'_id': 'lockdown', 'count': 166},
 {'_id': 'covid', 'count': 129},
 {'_id': 'indiafightscorona', 'count': 119},
 {'_id': '‡§∏‡§Ç‡§§‡§∞‡§æ‡§Æ‡§™‡§æ‡§≤‡§ú‡•Ä_‡§ï‡§æ_‡§∏‡§§‡•ç‡§∏‡§Ç‡§ó_‡§∏‡•Å‡§®‡•á‡§Ç', 'count': 114},
 {'_id': 'stayhome', 'count': 102},
 {'_id': 'covid„Éº19', 'count': 72}]

Implement 3. Top Active Verified User & Top Popular Verified User

In [44]:
# using SQL
# Top 3 active verified users ranked by statuses_count
active_user = create_pandas_table("SELECT * FROM users_data WHERE verified_status = 'True' ORDER BY statuses_count DESC LIMIT 10")
active_user.head(3)

,user_id,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
0,47596019,Liputan6.com,liputan6dotcom,True,3687560,693,1381273,Jakarta Indonesia,7062
1,16973333,The Independent,Independent,True,3202840,1146,976895,"London, England",3
2,378809160,ùîæùïÄùîªùïÄùïã‚Ñùùî∏ùîΩùîΩùïÄ‚ÑÇ,Gidi_Traffic,True,1676895,5826,922265,Everywhere,14478

In [45]:
# Top 3 popular verified users ranked by followers_count
pop_user = create_pandas_table("SELECT * FROM users_data WHERE verified_status = 'True' ORDER BY followers_count DESC LIMIT 10")
pop_user.head(3)

,user_id,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
0,18839785,Narendra Modi,narendramodi,True,55786179,2364,26559,India,0
1,807095,The New York Times,nytimes,True,46361159,904,393823,New York City,18483
2,145125358,Amitabh Bachchan,SrBachchan,True,41596464,1833,66428,"Mumbai, India",75

Implement 4. Top Active Location

In [47]:
# using SQL
# Top 3 active location ranked by tweets count
pop_location = create_pandas_table("SELECT user_location, count(*) as amount FROM users_data WHERE user_location != 'None' GROUP BY user_location ORDER BY amount DESC LIMIT 10")
pop_location.head(3)

      user_location  amount
0  India             363
1  New Delhi, India  185
2  United States     125





Way to join the tweet table and user table

In [72]:
%%time
# using Pandas
full_table = pd.merge(tweet_table, user_table, how = 'left', on = ['user_id']).drop(['_id','id'], axis = 1)
full_table

CPU times: user 58.7 ms, sys: 6.14 ms, total: 64.8 ms
Wall time: 67.5 ms

,user_id,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
0,207809313,2020-04-25 07:30:12,India‚Äôs war with Corona is ongoing.\n\nPlay your part and make sure no one around you starves.\n\nYour contribution to defeat hunger is as valuable as defeating Corona.\n\n#FeedTheNeedy https://t.co/TUWf2nqPgZ,398,2144,108,[FeedTheNeedy],BJP,BJP4India,True,13483759,3,200328,"6-A, Deen Dayal Upadhyay Marg,",0
1,858859031464751104,2020-04-25 10:23:01,VIDEO | 25.04.20\n\n&gt; Monsta X appears on Yonhap News TV - Idol comeback through Corona... Turning on the Music industry.\n\nüîóhttps://t.co/kW5hsP5DeD\n\n#Î™¨Ïä§ÌÉÄÏóëÏä§ #MONSTAX\n#ÌåêÌÉÄÏßÄÏïÑÏóëÏä§ #FANTASIA_X\n@OfficialMonstaX\n\nhttps://t.co/tJN4Iyv1Gh https://t.co/GukJXWjaPW,59,144,1,"[Î™¨Ïä§ÌÉÄÏóëÏä§, MONSTAX, ÌåêÌÉÄÏßÄÏïÑÏóëÏä§, FANTASIA_X]",Monsta X Europe,MonstaXEurope,False,27084,463,38058,let the haters bark,32020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19074,3130596629,2020-04-25 14:48:37,We have 1/4 of all deaths from #Corona - thanks to our 3rd world response by @realDonaldTrump #ashamed \n@Arpx #arleg https://t.co/ELyI69q8pp,0,0,0,"[Corona, ashamed]",Arkansas Boy,ArkansasWatch,False,276,867,4411,#Ark #LittleRock,1128
19075,2279976427,2020-04-25 14:48:38,@VSReddy_MP I think wantedly you ate damaging your leaders image @ysjagan One side there is an increase of Corona cases and also @srikakulamdistrict now attacked with corona on the other side you are giving these tweets How to understand it @ArogyaAndhra @AndhraPradeshCM @apfightscorona,0,0,0,[],Venugopi,Venu7630,False,3,35,42,None,83

Implement 5. Top Earliest Original Tweet

In [73]:
%%time
# try to search the earliest created original tweet that is still getting retweeted in the time slot.
full_table['created_at'] = pd.to_datetime(full_table['created_at'])
full_table.sort_values(by = ['created_at'], ascending = (True)).head(3)

CPU times: user 7.95 ms, sys: 283 ¬µs, total: 8.24 ms
Wall time: 9.17 ms

,user_id,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
14241,1242575784,2013-06-03 15:32:48,Corona virus....its coming,73776,131225,9968,[],Marco,Marco_Acortes,False,5652,106,3839,None,4842
6794,189011442,2017-06-08 16:14:48,"But to return to a moment of grace.\n\n""Take me to the Seine, let us gaze into it until we become little fishes &amp; recognize each other again."" https://t.co/WfLNI92buL || ""I have often reflected that 'Corona' is your most beautiful poem""\nIB, 6 June 1949\n\nI think so, too-with Celan echoing Rilke, 'es ist Zeit.' https://t.co/CS41BlJ4jw",16,39,0,[],coldplums,coldplums,False,4341,1435,24661,on the road,41167
15687,29280466,2020-01-25 18:30:29,I bet the marketing people at Corona really wish this thing was called Heinekenfluenza.,306,797,23,[],Rick Aaron,RickAaron,False,12391,12854,78740,None,138699

Implement 6. Search for Text

In [74]:
%%time
## user interactive search for text (case insensitive)
search_keyword = input()
user_search = full_table[full_table['text'].str.contains(search_keyword, case = False)]
user_search.sort_values(by = ['favorite_count', 'retweet_count', 'reply_count'], ascending = (False, False, False))

election
CPU times: user 90.5 ms, sys: 3.26 ms, total: 93.8 ms
Wall time: 3.56 s

,user_id,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
4985,2353605901,2020-04-06 11:31:23,"The Democrats‚Äô all-mail ballots proposal is a ruse to legalize ballot harvesting. \n\nAnyone would be allowed to return an unlimited number of absentee ballots for voters. \n\nAt a time of so much uncertainty, we should not reduce confidence in our elections. https://t.co/hTn0MTx48m",5430,11868,1806,[],Ronna McDaniel,GOPChairwoman,True,602330,2594,14158,None,7107
4235,851211,2020-04-25 12:51:03,Milwaukee‚Äôs health commissioner has now tied 40 coronavirus infections to the April 7 election. \n\nhttps://t.co/fGIsLKzTkm,1046,1204,76,[],Ben Wikler,benwikler,True,132408,3960,31530,"Wisconsin, USA",58028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18955,121236314,2020-04-25 14:47:46,Every single person who was involved with this travesty should be behind bars in a covid-infested prison. || Milwaukee‚Äôs health commissioner has now tied 40 coronavirus infections to the April 7 election. \n\nhttps://t.co/fGIsLKzTkm,0,0,0,[],EmmaSofia,emmasofia3,False,162,536,16842,Gaia,4432
19071,2491804962,2020-04-25 14:48:36,"40 Coronavirus Cases In Milwaukee County Linked To WI Election, yet ‚Å¶@GovParsonMO‚Å© says that voting by mail is ‚Äúpartisan‚Äù. The MO GOP knows their egregious agenda makes them vulnerable, so they will have us risk our health to vote them out. #MOLeg https://t.co/xpMgXHnfuy",0,0,0,[],Jess Piper,EnglishTeach07,False,5026,5369,22781,Northwest MO,94498

Implement 7. Search for Hashtag

In [76]:
%%time
## user interactive search for hashtag (case insensitive)
search_keyword = input()
target = [search_keyword]
lockdown = full_table[pd.DataFrame(full_table.hashtags.tolist()).applymap(lambda s:s.lower() if type(s) == str else s).isin(target).any(1)]
lockdown.sort_values(by = ['followers_count'], ascending = (False))

lockdown
CPU times: user 248 ms, sys: 5.94 ms, total: 254 ms
Wall time: 3.57 s

,user_id,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
285,2719753171,2020-04-21 13:28:03,"My wholehearted thanks&amp; heartfelt felt acknowledgment üôèto Amudalavalasa JSP Leader Sri Pedada Rammohan garu , for distributing essentials to people who are in need. || ‡∞Ü‡∞Æ‡±Å‡∞¶‡∞æ‡∞≤‡∞µ‡∞≤‡∞∏ ‡∞®‡∞ø‡∞Ø‡±ã‡∞ú‡∞ï‡∞µ‡∞∞‡±ç‡∞ó‡∞Ç‡∞≤‡±ã ‡∞≤‡∞æ‡∞ï‡±ç ‡∞°‡±å‡∞®‡±ç ‡∞µ‡±á‡∞≥ ‡∞®‡∞ø‡∞∞‡±Å‡∞™‡±á‡∞¶‡∞≤‡∞ï‡±Å ‡∞Ü‡∞π‡∞æ‡∞∞‡∞Ç ‡∞™‡∞Ç‡∞™‡∞ø‡∞£‡±Ä, ‡∞ï‡∞∞‡±ã‡∞®‡∞æ ‡∞™‡∞ü‡±ç‡∞≤ ‡∞Ö‡∞µ‡∞ó‡∞æ‡∞π‡∞® ‡∞ï‡∞æ‡∞∞‡±ç‡∞Ø‡∞ï‡±ç‡∞∞‡∞Æ‡∞æ‡∞≤‡±Å ‡∞®‡∞ø‡∞∞‡±ç‡∞µ‡∞π‡∞ø‡∞∏‡±ç‡∞§‡±Å‡∞®‡±ç‡∞® ‡∞∂‡±ç‡∞∞‡±Ä ‡∞™‡±Ü‡∞°‡∞æ‡∞° ‡∞∞‡∞æ‡∞Æ‡±ç‡∞Æ‡±ã‡∞π‡∞®‡±ç ‡∞ó‡∞æ‡∞∞‡±Å.\n\n#Corona #Lockdown #JanaSeva https://t.co/1IgUA9XPBu",2020,7103,41,"[Corona, Lockdown, JanaSeva]",Pawan Kalyan,PawanKalyan,True,3958111,161,1410,None,2
2210,52875461,2020-04-25 06:17:11,Scenarios at Koyambedu market !! Social distancing at its best üòê\n\n#lockdown #CoronaUpdates #corona https://t.co/HyPC8JZwx8,16,80,10,"[lockdown, CoronaUpdates, corona]",IndiaGlitz - Tamil,igtamil,True,951444,666,68534,"Chennai, India",11776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18963,1240312791354855425,2020-04-25 14:47:49,"Nice efforts guys..keep up the gud work‚úå\n#EIAForGreenIndia #covid\n#lockdown\n#Corona || This is a mechanism to legitimise some actions currently listed as violations,like projects starting construction without a valid clearance, dilutes rules by expanding the list of projects exempted from public consultation, it does not prescribe a robust system.\n#EIAForGreenIndia https://t.co/DmaY23TTvO",0,0,0,"[EIAForGreenIndia, covid, lockdown, Corona, EIAForGreenIndia]",Aarti,Aarti03524188,False,0,12,24,None,17
14087,1240183124123770880,2020-04-25 11:30:20,"How can Police officials can be so brutal, they hit a small child(wearing blue check shirt) and his hand started bleeding so much.\nThis is not acceptable #DelhiPolice \n#delhi #PoliceBrutality #childabuse #corona #lockdown https://t.co/vP9cuYR8uW",1,0,0,"[DelhiPolice, delhi, PoliceBrutality, childabuse, corona, lockdown]",Abbas Kazimi,AbbasKazimi7,False,0,46,23,"‡§®‡§à ‡§¶‡§ø‡§≤‡•ç‡§≤‡•Ä, ‡§≠‡§æ‡§∞‡§§",80

Text, hashtag, and time search

In [52]:
import time
import datetime
import timeit

# set for storing keyword
stored_keyword = set()
stored_hashtag = set()
stored_date = set()
# dictionary of dictionaries
dict_text = {}
dict_hashtag = {}
dict_date = {}

# function: store dataframe in dictionary 
def put_into_cache(keyword, df, dict_set) :
    if (len(dict_set) == 10): # we can hold 10 caches if it over, we deleted oldest one
        del dict_set[list(dict_set.keys())[0]] 
    
    dict_set[keyword] = df.to_dict()

In [53]:
# function: read cache from dictionary to dataframe
def dict_to_df(keyword, dict_set) :
    return pd.DataFrame.from_dict(dict_set[keyword])

In [54]:
def text_search():
    user_keyword = input("Please enter a keyword: ")
    start = timeit.default_timer()

    regx = re.compile(user_keyword, re.IGNORECASE)
    
    if (user_keyword.lower() not in stored_keyword) :
        search_tweet = pd.DataFrame(
            tweet.find({'text': {"$regex": regx}}).sort([("retweet_count", -1), ("reply_count", -1), ("favorite_count", -1)])
        )

        if (len(search_tweet) == 0) :
            print("Error: No result for %s" %user_keyword)
            search_full = None

        else :
            s_user = tuple(search_tweet["user_id"].tolist())
            params = {'l': s_user}

            cur.execute('SELECT * FROM users_data where user_id in %(l)s', params)
            search_user = pd.DataFrame(cur.fetchall())
            search_user.columns = [i[0] for i in cur.description]

            search_full = pd.merge(search_tweet, search_user, how = 'left', on = ['user_id']).drop(['_id', 'id', 'user_id'], axis = 1)

            stored_keyword.add(user_keyword.lower())
            put_into_cache(user_keyword.lower(), search_full, dict_text)

    else :
        search_full = dict_to_df(user_keyword.lower(), dict_text)    

    stop = timeit.default_timer()
    
    print('Running Time: ', "%.3f second" %(stop - start))
    return search_full

In [55]:
def hashtag_search():
    user_keyword = input("Please enter a keyword: ")
    start = timeit.default_timer()
    
    if (user_keyword.lower() not in stored_hashtag) :
        # uses the index to find
        hashtag_tweet = pd.DataFrame(
            db.tweet.find({"hashtags": {"$in": [user_keyword]}}).collation( { "locale": 'en', "strength": 2 } ).sort([("retweet_count", -1), ("reply_count", -1), ("favorite_count", -1)])
        )

        if (len(hashtag_tweet) == 0) :
            print("Error: No result for %s" %user_keyword)
            hash_search_table = None

        else :
            h_user = tuple(hashtag_tweet["user_id"].tolist())
            params = {'l': h_user}

            cur.execute('SELECT * FROM users_data where user_id in %(l)s', params)
            hash_user = pd.DataFrame(cur.fetchall())
            hash_user.columns = [i[0] for i in cur.description]

            hash_search_table = pd.merge(hashtag_tweet, hash_user, how = 'left', on = ['user_id']).drop(['_id', 'id', 'user_id'], axis = 1)

            stored_hashtag.add(user_keyword.lower())
            put_into_cache(user_keyword.lower(), hash_search_table, dict_hashtag)

    else :
        hash_search_table = dict_to_df(user_keyword.lower(), dict_hashtag)    
    
    stop = timeit.default_timer()
    print('Running Time: ', "%.3f second" %(stop - start))
    return hash_search_table

In [56]:
def time_search():
    period = True
    while period :
        dateinput1 = input("Please enter the start date (format: yyyy-m-d (ex: 2020-4-13)): ")
        x1 = [int(x) for x in dateinput1.split("-")]
        dateinput2 = input("Please enter the end date (format: yyyy-m-d (ex: 2020-4-15)): ")
        x2 = [int(x) for x in dateinput2.split("-")]

        start = datetime.datetime(x1[0], x1[1], x1[2], 0, 0, 0, 0)
        end = datetime.datetime(x2[0], x2[1], x2[2], 23, 59, 59, 0)

        if (start <= end) :
            period = False
        else :
            print("Error! Try again. Start date should be earlier than end date.")
            
    start_time = timeit.default_timer()
    
    if ((dateinput1 + " to " + dateinput2) not in stored_date) :
    
        ##sort it by time (asc)
        range_tweet = pd.DataFrame(tweet.find({'created_at': {"$gte": start, "$lte": end}}).sort([("created_at", 1)]))

        if (len(range_tweet) == 0) :
            print("Error: No result for input range!")
            range_search_table = None
        else :
            r_user = tuple(range_tweet["user_id"].tolist())
            params = {'l': r_user}

            cur.execute('SELECT * FROM users_data where user_id in %(l)s', params)
            range_user = pd.DataFrame(cur.fetchall())
            range_user.columns = [i[0] for i in cur.description]

            range_search_table = pd.merge(range_tweet, range_user, how = 'left', on = ['user_id']).drop(['_id', 'id', 'user_id'], axis = 1)

            stored_date.add(dateinput1 + " to " + dateinput2)
            put_into_cache(dateinput1 + " to " + dateinput2, range_search_table, dict_date)

    else :
        range_search_table = dict_to_df(dateinput1 + " to " + dateinput2, dict_date)            
    
    stop_time = timeit.default_timer()
    print('Running Time: ', "%.3f second" %(stop_time - start_time))
    return range_search_table

In [57]:
text_search()

Please enter a keyword: election
Running Time:  0.231 second

,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
0,2020-04-06 11:31:23,"The Democrats‚Äô all-mail ballots proposal is a ruse to legalize ballot harvesting. \n\nAnyone would be allowed to return an unlimited number of absentee ballots for voters. \n\nAt a time of so much uncertainty, we should not reduce confidence in our elections. https://t.co/hTn0MTx48m",5430,11868,1806,[],Ronna McDaniel,GOPChairwoman,True,602330,2594,14158,None,7107
1,2020-04-25 12:51:03,Milwaukee‚Äôs health commissioner has now tied 40 coronavirus infections to the April 7 election. \n\nhttps://t.co/fGIsLKzTkm,1046,1204,76,[],Ben Wikler,benwikler,True,132408,3960,31530,"Wisconsin, USA",58028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,2020-04-25 14:47:46,Every single person who was involved with this travesty should be behind bars in a covid-infested prison. || Milwaukee‚Äôs health commissioner has now tied 40 coronavirus infections to the April 7 election. \n\nhttps://t.co/fGIsLKzTkm,0,0,0,[],EmmaSofia,emmasofia3,False,162,536,16842,Gaia,4432
168,2020-04-25 14:48:36,"40 Coronavirus Cases In Milwaukee County Linked To WI Election, yet ‚Å¶@GovParsonMO‚Å© says that voting by mail is ‚Äúpartisan‚Äù. The MO GOP knows their egregious agenda makes them vulnerable, so they will have us risk our health to vote them out. #MOLeg https://t.co/xpMgXHnfuy",0,0,0,[],Jess Piper,EnglishTeach07,False,5026,5369,22781,Northwest MO,94498

In [58]:
hashtag_search()

Please enter a keyword: lockdown
Running Time:  0.077 second

,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
0,2020-04-03 16:40:59,Instead of staying idle due to Corona or Covid #Lockdown as an Architect I decided to make ''5 STAR SUSTAINABLE HOTEL MODEL'' \n\nTwitter I am not begging for giveaway but just 1second retweet üôèüèæüôèüèæüôèüèæ https://t.co/FOwqoo7ctV,7790,8178,338,[Lockdown],Damas üá≥üá¨üá≥üá¨,CalifaDamas,False,885,922,313,None,401
1,2020-04-21 13:28:03,"My wholehearted thanks&amp; heartfelt felt acknowledgment üôèto Amudalavalasa JSP Leader Sri Pedada Rammohan garu , for distributing essentials to people who are in need. || ‡∞Ü‡∞Æ‡±Å‡∞¶‡∞æ‡∞≤‡∞µ‡∞≤‡∞∏ ‡∞®‡∞ø‡∞Ø‡±ã‡∞ú‡∞ï‡∞µ‡∞∞‡±ç‡∞ó‡∞Ç‡∞≤‡±ã ‡∞≤‡∞æ‡∞ï‡±ç ‡∞°‡±å‡∞®‡±ç ‡∞µ‡±á‡∞≥ ‡∞®‡∞ø‡∞∞‡±Å‡∞™‡±á‡∞¶‡∞≤‡∞ï‡±Å ‡∞Ü‡∞π‡∞æ‡∞∞‡∞Ç ‡∞™‡∞Ç‡∞™‡∞ø‡∞£‡±Ä, ‡∞ï‡∞∞‡±ã‡∞®‡∞æ ‡∞™‡∞ü‡±ç‡∞≤ ‡∞Ö‡∞µ‡∞ó‡∞æ‡∞π‡∞® ‡∞ï‡∞æ‡∞∞‡±ç‡∞Ø‡∞ï‡±ç‡∞∞‡∞Æ‡∞æ‡∞≤‡±Å ‡∞®‡∞ø‡∞∞‡±ç‡∞µ‡∞π‡∞ø‡∞∏‡±ç‡∞§‡±Å‡∞®‡±ç‡∞® ‡∞∂‡±ç‡∞∞‡±Ä ‡∞™‡±Ü‡∞°‡∞æ‡∞° ‡∞∞‡∞æ‡∞Æ‡±ç‡∞Æ‡±ã‡∞π‡∞®‡±ç ‡∞ó‡∞æ‡∞∞‡±Å.\n\n#Corona #Lockdown #JanaSeva https://t.co/1IgUA9XPBu",2020,7103,41,"[Corona, Lockdown, JanaSeva]",Pawan Kalyan,PawanKalyan,True,3958111,161,1410,None,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2020-04-25 14:47:49,"Nice efforts guys..keep up the gud work‚úå\n#EIAForGreenIndia #covid\n#lockdown\n#Corona || This is a mechanism to legitimise some actions currently listed as violations,like projects starting construction without a valid clearance, dilutes rules by expanding the list of projects exempted from public consultation, it does not prescribe a robust system.\n#EIAForGreenIndia https://t.co/DmaY23TTvO",0,0,0,"[EIAForGreenIndia, covid, lockdown, Corona, EIAForGreenIndia]",Aarti,Aarti03524188,False,0,12,24,None,17
164,2020-04-25 14:48:13,#COVID19 #Coronavirustruth #Corona #CoronaKoDhona \n#lockdown #coronavirusindia #CoronaStopKaroNa Coronatimes... https://t.co/VE14wAHKt7,0,0,0,"[COVID19, Coronavirustruth, Corona, CoronaKoDhona, lockdown, coronavirusindia, CoronaStopKaroNa]",Pramod Deogirikar,colpramoddeo,False,138,261,5201,"Indore, India",2917

In [60]:
time_search()

Please enter the start date (format: yyyy-m-d (ex: 2020-4-13)): 2020-4-20
Please enter the end date (format: yyyy-m-d (ex: 2020-4-15)): 2020-4-25
Running Time:  1.144 second

,created_at,text,retweet_count,favorite_count,reply_count,hashtags,name,user_name,verified_status,followers_count,friends_count,statuses_count,user_location,favourites_count
0,2020-04-20 01:28:36,"if u could end corona virus by sacrificing one celebrity, which one would u choose and why priyanka chopra ?",5179,21009,141,[],üî´ alveena,xxalveena,False,3364,2339,4275,london,44808
1,2020-04-20 01:50:13,Government : you can go outside now \n\nPeople‚Äôs first reaction : let‚Äôs go outside!!\n\nPeople‚Äôs reaction after Corona knacks : \n\nhttps://t.co/UV1MesxFXc,19,14,0,[],BRYAN THE MENSAH,BRYANTHEMENSAH,False,12087,2313,126944,"Accra, Ghana",55307
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18465,2020-04-25 14:48:37,We have 1/4 of all deaths from #Corona - thanks to our 3rd world response by @realDonaldTrump #ashamed \n@Arpx #arleg https://t.co/ELyI69q8pp,0,0,0,"[Corona, ashamed]",Arkansas Boy,ArkansasWatch,False,276,867,4411,#Ark #LittleRock,1128
18466,2020-04-25 14:48:38,@VSReddy_MP I think wantedly you ate damaging your leaders image @ysjagan One side there is an increase of Corona cases and also @srikakulamdistrict now attacked with corona on the other side you are giving these tweets How to understand it @ArogyaAndhra @AndhraPradeshCM @apfightscorona,0,0,0,[],Venugopi,Venu7630,False,3,35,42,None,83